<div class="wrapper">
  <div *ngIf="(post | async) as post">
    <div class="typography">
      <app-card [lightShadow]="true" *ngIf="post.image" backgroundImage="{{buildEventImageUrl(post.image)}}"
        class="hero-card">
        <div class="hero">
          <h1 class="dd-ix" i18n>{{post.title}}</h1>
          <p><b>Time: {{post.start_time | date: 'short' }}</b> until <b>{{post.end_time | date: 'short'}}</b></p>
          <p><b>Location: {{post.location}}</b> </p>
        </div>
      </app-card>

      <div class="row">
        <app-card>
          <div class="typography">
            <h2>After a year of work, we want to celebrate!</h2>
            <p>
              We cordially invite you to the opening of DD-IX, the first public Internet Exchange in Dresden, Saxony.
              Join
              us
              for a recap of the last year, community talks, food and drinks. Participation is free but we kindly ask
              you to
              register. Let’s celebrate together!
            </p>
          </div>
          <div class="buttons">
            <feel-button flavor="accent" link="https://tickets.dd-ix.net/opening/">
              Registration
            </feel-button>
            <feel-button flavor="accent" link="." fragment="agenda">
              Agenda
            </feel-button>
          </div>
        </app-card>
        <app-icon-party class="icon"></app-icon-party>
      </div>

      <div class="row">
        <div class="image">
          <img ngSrc="/assets/images/opening/cheering.webp" width="2048" height="1536" class="not">
        </div>

        <app-card>
          <h2 id="agenda">Agenda</h2>
          <p><b>Registration is mandatory!</b></p>
          <h4>[Doors Open]</h4>
          <b>17:00 Begin</b>
          <h4>[Welcome and Opening Messages]</h4>
          <b>17:30</b>
          <table class="not">
            <tr> <!--17:40 - 17:55-->
              <td>
                <b>Welcome from DD-IX</b>
                <p>Prof. Dr. Matthias Wählisch, Chair of Distributed and Networked Systems, TU Dresden</p>
              </td>
            </tr>
            <tr> <!--17:55 - 18:05 -->
              <td>
                <b>Welcome from the Saxonian Government</b>
                <p>Prof. Thomas Popp, State Secretary for Digital Administration and Modernisation of Administration</p>
              </td>
            </tr>
            <tr> <!--18:05 - 18:15 -->
              <td>
                <b>Welcome from SachsenGigaBit</b>
                <p>Thomas Eibeck, CEO SachsenGigabit</p>
              </td>
            </tr>
            <tr> <!--18:15 - 18:25-->
              <td>
                <b>Opening Message from Vint Cerf</b>, Father of the Internet and Chief Internet Evangelist for Google
              </td>
            </tr>
          </table>
          <h4>[Community Talks]</h4>
          <b>18:30</b>
          <table class="not">
            <tr> <!--18:30 - 18:40-->
              <td>
                <p>Christian Dieckhoff, Board of Directors BCIX</p>
              </td>
            </tr>
            <!--<tr> 18:40 - 18:50
              <td>
                <b>How to automate large transit networks?</b>
                <p>Marc Korthaus, Co-CEO Inter.link</p>
              </td>
            </tr>-->
            <tr> <!--18:50 - 19:05-->
              <td>
                <b>AG DSN: Highspeed-Internet for Students by Students</b>
                <p>Markus Ziehe, Chair of Board AG DSN</p>
              </td>
            </tr>
            <tr> <!--19:05 - 19:10-->
              <td>
                <b>The Importance of Community-Driven Networking</b>
                <p>Mirjam Kühne, Chair of the RIPE Community</p>
              </td>
            </tr>
          </table>
          <h4>[Socializing]</h4>
          <b>19:20 Food and Drinks</b>

          <b>23:00 End of Event</b>
        </app-card>
      </div>

      <div class="row">
        <app-card>
          <div class="text">
            <h2>Date</h2>
            <p>{{ post.start_time | date: 'short' }}</p>

            <h2>Location</h2>
            <p>
              SachsenEnergie Center<br>
              Friedrich-List-Platz 2<br>
              01069 Dresden, Deutschland
            </p>
            <h2>Traveling</h2>
            <ul>
              <li><b>Train:</b> Venue accessible via <a href="https://maps.app.goo.gl/GPtKv5pwh2CPKJZz5">Dresden Hbf</a>
                and <a href="https://maps.app.goo.gl/BPVxKKcnafR1sbDo8">Dresden Hbf Nord</a></li>
              <li><b>Plane:</b> You can fly to <a href="https://g.co/kgs/EtH1f6M">DRS Dresden Airport</a> and then take
                <b>S2</b> until <a href="https://maps.app.goo.gl/GPtKv5pwh2CPKJZz5">Dresden Hbf</a>
              </li>
            </ul>
          </div>
        </app-card>
        <div class="image">
          <a href="https://www.openstreetmap.org/way/10368038" target="_blank">
            <img ngSrc="/assets/images/opening/map.webp" width="1495" height="868" class="not">
          </a>
          <span>
            &copy;
            <a class="abcd" href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>
            contributors.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
