@if (member) {
  <app-card class="card">
    <div class="member typography">
      <img [alt]="member.nick ?? member.name + '\'s Image'" [ngSrc]="buildMemberImage(member.image)" height="1"
        width="1">
      <p>
        <b>{{ member.nick ?? member.name }}</b>
        @if (member.nick) {
          <br>
            {{ member.name }}
          }
          <br>
            {{ member.description }}
            <br>
              @for (working_group of member.working_groups; track working_group; let i = $index) {
                <span>
                  @if (i>0) {
                    <span>, </span>
                    }{{ getWorkingGroupName(working_group) }}
                  </span>
                }
              </p>
              <div class="socials">
                @if (member.socials.email) {
                  <a [href]="'mailto:' + member.socials.email" target="_blank">
                    <span class="icon"><app-icon-mail/></span>
                    <span class="handle">{{ member.socials.email }}</span>
                  </a>
                }
                @if (member.socials.github) {
                  <a [href]="'https://github.com/'+member.socials.github" target="_blank">
                    <span class="icon"><app-icon-github/></span>
                    <span class="handle">{{ member.socials.github }}</span>
                  </a>
                }
                @if (member.socials.website) {
                  <a [href]="member.socials.website" target="_blank">
                    <span class="icon"><app-icon-globe/></span>
                    <span class="handle">{{ domain(member.socials.website) }}</span>
                  </a>
                }
                @if (member.socials.mastodon) {
                  <a [href]="buildMastodonLink(member.socials.mastodon)" target="_blank">
                    <span class="icon"><app-icon-mastodon/></span>
                    <span class="handle">{{ member.socials.mastodon }}</span>
                  </a>
                }
                @if (member.socials.linkedin) {
                  <a [href]="'https://www.linkedin.com/in/'+member.socials.linkedin"
                    target="_blank">
                    <span class="icon"><app-icon-linkedin/></span>
                    <span class="handle" i18n>Linkedin</span>
                  </a>
                }
                @if (member.ripe_handle) {
                  <a
         [href]="'https://apps.db.ripe.net/db-web-ui/query?bflag=false&dflag=false&rflag=true&source=RIPE&searchtext='+member.ripe_handle"
         target="_blank">
        <span class="icon"><app-icon-ripe/></span>
        <span class="handle">{{ member.ripe_handle }}</span>
      </a>
}
    </div>
  </div>
</app-card>
}
