<div class="typography header">
  <h1 i18n="@@pageStatisticsAS112">AS112 Statistics</h1>
  <feel-button label="Traffic Statistics" link=".." i18n="@@pageStatisticsTraffic"></feel-button>
</div>

<app-card>
  <div class="typography">
    <div class="header">
      <h2 i18n="@@chartQueriesTitle">DNS Queries</h2>
      <app-stats-time-selection (timeChange)="changeTimeSelection($event)" />
    </div>
    @if (series | async; as series) {
      <!-- NOTE: using now to show it in the frontend if the update is not working anymore. -->
      <app-chart
        [series]="wrapStats(series)"
        [xMax]="now"
        [xMin]="series.start"
        unit="q"
        seriesName="Queries"
        i18n-seriesName="@@chartQueriesSeries"
        />
    } @else {
      <div class="loading-wrapper">
        <app-loading-indicator/>
      </div>
    }
  </div>
</app-card>
