<div class="typography header">
  <h1 i18n>AS112 Statistics</h1>
  <feel-button label="Traffic" link=".."></feel-button>
</div>

<ng-container *ngIf="series | async as series">
  <app-card>
    <div class="typography">
      <div class="header">
        <h2 i18n>DNS Queries</h2>
        <app-stats-time-selection (timeChange)="changeTimeSelection($event)" />
      </div>
      <app-chart [series]="wrapStats(series)" [xMax]="series.end" [xMin]="series.start" unit="q" seriesName="Queries" />
    </div>
  </app-card>
</ng-container>
