<ng-template #body>
  <div class="icon">
    <ng-content select=".icon"></ng-content>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>
</ng-template>

<ng-template #wrapper>
  @if (backgroundImage) {
    <div class="container">
      <ng-container *ngTemplateOutlet="body"></ng-container>
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="body"></ng-container>
  }
</ng-template>

@if (!link) {
  <div
    [class.inverse-shadow]="inverseShadow"
    [class.shadow]="backgroundImage"
    [class.highlighted]="highlight"
    [style.background-image]="buildBackgroundImageUrl(backgroundImage)">
    <ng-container *ngTemplateOutlet="wrapper"></ng-container>
  </div>
} @else {
  @if (!isExternal()) {
    <a
      [class.inverse-shadow]="inverseShadow"
      [class.shadow]="backgroundImage"
      [class.highlighted]="highlight"
      [routerLink]="link"
      [style.background-image]="buildBackgroundImageUrl(backgroundImage)"
      class="not">
      <ng-container *ngTemplateOutlet="wrapper"></ng-container>
    </a>
  } @else {
    <a [class.inverse-shadow]="inverseShadow"
      [class.shadow]="backgroundImage"
      [class.highlighted]="highlight"
      [href]="link"
      [style.background-image]="buildBackgroundImageUrl(backgroundImage)"
      class="not"
      rel="me"
      target="_blank">
      <ng-container *ngTemplateOutlet="wrapper"></ng-container>
    </a>
  }
}

