@import "vars";
@import "bp";

ul {
  display: grid;
  margin-top: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: 1fr;

  .card ::ng-deep>div {
    height: 100%;
  }
}

.team {
  list-style-type: none;
}

.icon {
  width: 1.5rem;
}

.intro-text {
  margin: 2rem;
}

.typography ::ng-deep img {
  height: auto;

  &:not(.not) {
    padding: 2rem;
    margin: 5rem 0;
  }
}

.introduction {
  display: flex;
  flex-direction: row;
}

.resource {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  gap: 0.5rem;

  position: relative;

  .wip {
    display: block;
    position: absolute;
    background-color: #FFC000;
    border: 0.3rem solid #FFC000;
    border-image: repeating-linear-gradient(-55deg,
        #000,
        #000 20px,
        #FFC000 20px,
        #FFC000 40px) 10;

    color: #000;
    font-weight: bold;
    font-size: 30px;
    padding: 0.2rem;
    width: 100%;
  }

  .tile-logo {
    width: 70%;
    height: 70%;
    border-radius: 0.5rem;
  }

  .ripe-icon {
    width: 90%;
  }

  .connected-icon {
    width: 30%;
    height: 30%;
    padding: 1rem;

    --f-color: #{$c-primary};

    &.bad {
      --f-color: #{$c-danger};
    }
  }
}
