@import "vars";
@import "bp";

ul {
  display: grid;
  margin-top: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: 1fr;

  .card ::ng-deep>div {
    height: 100%;
  }
}

.team {
  list-style-type: none;
}

.resource {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  gap: 0.5rem;

  .tile-logo {
    width: 70%;
    height: 70%;
    border-radius: 0.5rem;
  }

  .connected-icon {
    width: 30%;
    height: 30%;
  }
}
