<div class="typography">
  <h1 i18n>Community around DD-IX</h1>
      <p i18n class="typography">
        DD-IX promotes local community projects in order to <b>Keep Local Traffic Local</b>. This website lists those resources such as mirrors, open resolvers, and local hosted services.
      </p>
</div>

<ul class="not team">
  <li>
    <app-card class="tile-card" link="./mirror">
      <div class="resource">
        <app-icon-linux class="tile-logo linux"></app-icon-linux>
        <h3>Mirrors</h3>
      </div>
    </app-card>
  </li>
 <!--   <li>
  <app-card class="tile-card" link="https://atlas.ripe.net/probes/65223/overview">
  <div class="resource">
  <app-icon-atlas class="ripe-icon"></app-icon-atlas>
  <h3 i18n>RIPE Atlas Probe</h3>
  </div>
  </app-card>
  </li>-->
  <!--<li>
    <app-card>
        <div class="resource">
          <app-icon-globe class="tile-logo"></app-icon-globe>
          <h3 i18n>DNS</h3>
        <p class="wip">Work in Progress</p>
        </div>
    </app-card>
  </li>-->
  <li>
    <app-card class="tile-card">
      <div class="resource">
        <app-icon-git class="tile-logo"></app-icon-git>
        <h3 i18n>Git</h3>
        <p class="wip">Work in Progress</p>
      </div>
    </app-card>
  </li>
  <li>
    <app-card class="tile-card">
      <div class="resource">
        <app-icon-fedi class="tile-logo"></app-icon-fedi>
        <h3 i18n>Federated Services</h3>
        <p class="wip">Work in Progress</p>
      </div>
    </app-card>
  </li>
<li>
    <app-card class="tile-card">
      <div class="resource">
        <h3 i18n>Did we forget something?</h3>
        <p i18n class="typography">
          Did we forget a project? Send an email to <a href="mailto:contact@dd-ix.net">contact&#64;dd-ix.net</a> or <a href="https://github.com/dd-ix/website-content">submit a PR</a>.
      </div>
    </app-card>
  </li>
        @if ((connected | async); as connected) {
        @if (connected != "error") {
  <li>
    <app-card class="tile-card">
      <div class="resource">
        <h3 i18n>Locally Connected?</h3>
        @if (connected == "connected") { <p>Your ISP is connected<br/>to DD-IX!</p><app-icon-checkmark class="connected-icon"/> }
        @if (connected == "not_connected") { <p>Your ISP is not connected<br/>to DD-IX :(</p><app-icon-close class="connected-icon bad"/> }
        @if (connected == "unknown") { <app-loading-indicator /> }
      </div>
    </app-card>

  </li>
}

}


</ul>
