<div class="typography">
  <h1 i18n>Community around DD-IX</h1>
</div>

<ul class="not team">
  <li>
    <app-card class="tile-card" link="./">
      <div class="resource">
        <app-icon-linux class="tile-logo"></app-icon-linux>
        <h3>Mirrors</h3>
      </div>
    </app-card>
  </li>
  <li>
    <app-card class="tile-card" link="./">
      <div class="resource">
        <app-icon-linux class="tile-logo"></app-icon-linux>
        <h3>DNS</h3>
      </div>
    </app-card>
  </li>
  <li>
    <app-card class="tile-card" link="./">
      <div class="resource">
        <app-icon-git class="tile-logo"></app-icon-git>
        <h3>Git</h3>
      </div>
    </app-card>
  </li>
  <li>
    <app-card class="tile-card" link="./">
      <div class="resource">
        <app-icon-fedi class="tile-logo"></app-icon-fedi>
        <h3>Federated Services</h3>
      </div>
    </app-card>
  </li>
</ul>
