<div class="typography">
  <h1 i18n>Blog</h1>
  <div *ngIf="(keywords | async) as keywords" class="keywords">
    <button (click)="toggleKeyword(keyword)" *ngFor="let keyword of keywords"
            [class.selected]="isSelected(keyword) | async"
            class="keyword">{{ keyword }}
    </button>
  </div>
</div>

<ul class="not news">
  <li *ngFor="let post of posts | async">
    <app-blog-card [post]="post"/>
  </li>
</ul>

<app-card>
  <div class="mailing-list">
    <app-mailing-list [listId]="3" [listName]="'Blog'"/>
  </div>
</app-card>
