<div class="typography">
  <h1 i18n="@@pageNewsAndEvents">News &amp; Events</h1>
  @if ((keywords | async); as keywords) {
    <div class="keywords">
      @for (keyword of keywords; track keyword) {
        <button (click)="toggleKeyword(keyword)"
          [class.selected]="isSelected(keyword) | async" class="keyword">
          {{ keyword }}
        </button>
      }
    </div>
  }
</div>

@if ((entries | async); as entries) {
  <ul class="not news">
    @for (entry of entries; track entry) {
      <li>
        @if (!isEvent(entry)) {
          <app-blog-card [post]="castPost(entry)" />
        }
        @if (isEvent(entry)) {
          <app-event-card [event]="castEvent(entry)" />
        }
      </li>
    }
  </ul>
} @else {
  <div class="loading-wrapper">
    <app-loading-indicator></app-loading-indicator>
  </div>
}

<app-card>
  <div class="mailing-list">
    <app-mailing-list listId="news" listName="News" />
  </div>
</app-card>
