<div class="typography">
  <div class="header">
    <h1 i18n>News &amp; Events</h1>
  </div>
  @if ((keywords | async); as keywords) {
    <div class="keywords">
      @for (keyword of keywords; track keyword) {
        <button (click)="toggleKeyword(keyword)"
          [class.selected]="isSelected(keyword) | async" class="keyword">
          {{ keyword }}
        </button>
      }
    </div>
  }
</div>

<ul class="not news">
  @for (entry of entries | async; track entry) {
    <li>
      @if (!isEvent(entry)) {
        <app-blog-card [post]="castPost(entry)" />
      }
      @if (isEvent(entry)) {
        <app-event-card [event]="castEvent(entry)" />
      }
    </li>
  }
</ul>

<app-card>
  <div class="mailing-list">
    <app-mailing-list listId="news" listName="News" />
  </div>
</app-card>
