@import "vars";

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.news {
  list-style-type: none;
}

.mailing-list {
  max-width: 36rem;
}

.keywords {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;

  .keyword {
    background-color: $c-card;
    border: 0.1rem solid $c-card-secondary;
    padding: 0.2rem 0.6rem;
    border-radius: 5rem;
    cursor: pointer;

    &.selected {
      background-color: $c-primary;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.loading-wrapper {
  width: 100%;
  height: 20vh;
  display: grid;
  place-items: center;
}
