<div class="wrapper">
  <div class="post">
    @if ((post | async); as post) {
      <app-card class="typography">
        <h1>{{ post.title }}</h1>
        <p>
          <span i18n>Published</span>: <b>{{ post.published | date }}</b>
          @if (post.modified) {
            <span> | <span i18n>Modified</span>: <b>{{ post.modified | date }}</b></span>
          }
          | <span i18n>Author@if (post.authors.length > 1) {
<span>s</span>
}</span>:
        <b>{{ formatAuthors(post.authors) }}</b>
      </p>
      @if (post.image) {
        <img [src]="buildBlogImageUrl(post.image)" alt="">
      }
      <div [innerHtml]="safeHtml(post.body)">
      </div>
    </app-card>
  }
</div>
</div>
