<app-card>
  <div>
  <form [formGroup]="form_data" (ngSubmit)="onSubmit(form_data.value)">
    <div>
      <label for="name">Name: </label>
      <input id="name" name="name" type="text">
    </div>
    <div>
      <label for="email">Email: </label>
      <input id="email" name="email" type="email" >
    </div>

    <!--<button type="submit"  class="btn btn-primary"  [disabled]="!form_data.valid"> Submit </button>-->
    <button type="submit"  class="btn btn-primary"> Submit </button>
  </form>
  </div>
</app-card>
