@import "vars", "bp";

table {
  width: 100%;
  text-align: center;

  .icon {
    display: grid;
    place-items: center;
    --f-color: #{$c-primary};

    &.bad {
      --f-color: #{$c-danger};
    }
  }

  .name {
    text-align: left;
  }
}

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  gap: 1rem;

  .datacenter {
    max-width: 500px;
  }

  .further-information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .section-button {
    align-self: flex-start;
    margin-bottom: 0;
  }

  @media screen and (max-width: #{$bp-mobile}) {
    flex-direction: column;
  }
}
