<div class="typography">
  <h1 i18n="@@pageAssociation">Association</h1>
</div>

<div class="blocks">
  <div class="block">
    <app-card>
      <div class="typography">
        <h2 i18n>Our Vision</h2>
        <p i18n>
          We want to promote Saxony as an attractive IT location with a focus on Dresden. Our main focus is the further
          expansion of the internet communication network. We committ as non-profit organisation for:
        </p>
      </div>
    </app-card>
  </div>

  <div class="block">
    <app-icon-switch class="icon" />
    <app-card>
      <div class="typography">
        <h2 i18n>Operation of the DD-IX</h2>
        <p i18n>
          In addition to supporting the community, we run the internet exchange DD-IX at locations in Dresden. DD-IX
          sees itself as an open, non-profit platform for all internet participants with a AS in the region of Saxony.
        </p>
        <p i18n>
          Besides the peering LAN and our route servers for the core operation of the IXP, we run most of the systems of
          the association ourselves.
        </p>
      </div>
    </app-card>
  </div>

  <div class="block">
    <app-icon-talking class="icon" />
    <app-card>
      <div class="typography">
        <h2 i18n>Networking and Sharing Experiences</h2>
        <p i18n>
          We are a reliable point of contact for organizations, science, business, and the public on issues relating to
          the internet. In addition to the exchange of experiences within the association and with external third
          parties, we conduct information and training events. Furthermore, we participate in community events.
        </p>
      </div>
    </app-card>
  </div>

  <div class="block">
    <app-card>
      <div class="typography">
        <h1 i18n>Association Work</h1>
        <p i18n>
          The association is made up of committed members who work voluntarily for the achievement of the goals. Even
          though the association seems to be technical through IXP operations we are also involved in non-technical
          areas.
        </p>
      </div>
    </app-card>
  </div>

  <div class="block">
    <app-icon-social class="icon" />
    <app-card>
      <div class="typography">
        <h1 i18n>Participation & Joining</h1>
        <p i18n>Are you interested in working for the association? We are looking forward to you!</p>
        <p i18n>
          Become a part of DD-IX! You as a natural person can actively participate and have a say in the daily life of
          IX as a regular member. Companies and legal entities can become supporting members, support our mission on a
          monthly basis, can present themselves at events and receive regular updates. Sponsors, such as an
          organisation, company or individual, can support us with one-time donations and receive visibility on our
          website in the sponsors tab. Join now and support our mission!
        </p>
      </div>
    </app-card>
  </div>
</div>

<div class="typography">
  <h1 i18n>Documents</h1>
</div>
<ul class="not documents">
  @for (document of documents | async; track document) {
    <li>
      <app-card [backgroundImage]="buildBackgroundImage(document)" [lightShadow]="true"
        [link]="buildDownloadLink(document)">
        <h1>{{ document.name }}</h1>
        <p>{{ document.description }}</p>
      </app-card>
    </li>
  }
</ul>
