<h1 i18n>Association</h1>

<section *ngIf="ourMission | async as ourMission" [innerHTML]="safeHtml(ourMission.body)">
</section>

<section *ngIf="joinTheAssociation | async as joinTheAssociation" [innerHTML]="safeHtml(joinTheAssociation.body)">
</section>

<h1 i18n>Documents</h1>
<ul class="not">
  <li *ngFor="let document of documents | async">
    <a target="_blank" [href]="buildDownloadLink(document)">
      <section>
        <h1>{{document.name}}</h1>
        <p>{{document.description}}</p>
      </section>
    </a>
  </li>
</ul>
