<aside [class.open]="asideSown | async" (click)="closeAside()">
  <div class="aside-container">
    <a class="not icon" routerLink="/">
      <app-icon-logo></app-icon-logo>
    </a>

    <nav>
      <ul>
        <li><a routerLink="/news" i18n>News</a></li>
        <li><a routerLink="/documents" i18n>Documents</a></li>
        <li><a routerLink="/looking-glass" i18n>Looking Glass</a></li>
        <li><a routerLink="/contact" i18n>Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="aside-footer">
    <a *ngIf="switchLanguage | async as lang" [href]="lang.href" class="lang">{{lang.name}}</a>
    <nav>
      <a routerLink="/privacy-policy" i18n>Privacy Policy</a>
      <a routerLink="/imprint" i18n>Imprint</a>
    </nav>
  </div>
</aside>

<main>
  <div class="container">
    <button (click)="toggleAside()" class="menu-btn">
      <app-icon-menu></app-icon-menu>
    </button>

    <div [@routing]="outlet.isActivated && (enableAnimation | async) ? outlet.activatedRoute : ''">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <footer>
      <span i18n>
        &copy; {{currentYear()}} <b>DD - IX</b> <span class="slogan">- Keep Local Traffic Local.</span>
      </span>
      <nav>
        <a routerLink="/privacy-policy" i18n>Privacy Policy</a>
        <a routerLink="/imprint" i18n>Imprint</a>
      </nav>
    </footer>
  </div>
</main>
