@import "vars";
@import "bp";

:host {
  display: grid;
  grid-template-columns: auto 1fr;

  @media screen and (max-width: $bp-mobile) {
    grid-template-columns: 1fr;
  }

  .progress-bar {
    position: absolute;
  }

  aside {
    height: 100dvh;
    padding: $s-padding;

    &,
    .end {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    // edge case: opening page without sidebar
    &.hidden {
      width: 0;
      padding: 0;
      overflow: hidden;
    }

    .icon {
      display: block;
      width: 8rem;
      margin-bottom: 1rem;
    }

    nav.nav {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        transition: 150ms background-color ease-in-out, 150ms color ease-in-out;
        border-radius: 0.5rem;

        .nav-icon {
          width: 1.6rem;
          height: 1.6rem;
        }

        &:hover,
        &.selected {
          background-color: $c-primary;
          //color: $secondary;
          //--f-color: $secondary;
        }
      }
    }

    nav {

      ul li a,
      .lang a {
        border: none;
      }
    }

    .aside-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .nav-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
      }
    }

    .aside-footer {
      align-self: flex-start;
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media screen and (max-width: $bp-mobile) {
        flex-direction: column;

        nav {
          flex-direction: column;
          align-items: center;
        }
      }
    }

    background-color: $c-card;
    border-right: 0.1rem solid $c-card-secondary;

    @media screen and (max-width: $bp-mobile) {
      position: absolute;
      background-color: color-mix(in srgb, $c-card 70%, transparent);
      backdrop-filter: blur(1rem);
      width: 100%;
      transition: 150ms opacity ease-in-out;
      z-index: 1000;

      .aside-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &:not(.open) {
        opacity: 0;
        //display: none;
        pointer-events: none;
      }

      .icon {
        width: 45vw;
      }

      a,
      a::before {
        font-size: 1.2rem;
      }
    }

    .lang {
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      @media screen and (min-width: $bp-mobile) {
        width: 100%;
      }
    }
  }

  aside .aside-footer,
  main footer {
    nav {
      display: flex;
      gap: 0.5rem;
    }
  }

  aside .aside-footer nav {
    display: none;

    @media screen and (max-width: $bp-mobile) {
      display: flex;
    }
  }

  $bottom-bar: 0.5rem;

  main {
    max-height: 100dvh;
    overflow-y: auto;


    .container {
      .menu-btn {
        background-color: transparent;
        border: none;
        width: 2rem;
        height: 2rem;

        @media screen and (min-width: #{$bp-mobile + 1}) {
          display: none;
        }
      }

      display: flex;
      flex-direction: column;
      max-width: $s-content;
      margin: 0 auto;
      min-height: calc(100dvh - #{$bottom-bar});
      padding: $s-padding;

      footer {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        padding-top: 1rem;

        &,
        nav {
          @media screen and (max-width: $bp-mobile) {
            flex-direction: column;
            align-items: center;
          }
        }

        nav {
          width: min-content;

          a {
            white-space: nowrap;
            height: min-content;
          }
        }

        .slogan {
          @media screen and (max-width: $bp-mobile) {
            display: none;
          }
        }
      }
    }
  }

  .bottom-bar {
    height: $bottom-bar;
    background: linear-gradient(to right, #209680 33.33%, #59b955 33.33% 66.66%, #ccff00 66.66%)
  }

}
