@defer (when isBrowser) {
<app-progress-bar class="progress-bar" />
}

<aside (click)="closeAside()" [class.open]="asideSown | async" [class.hidden]="disableNav | async">
  <div class="aside-container">
    <a class="not icon" routerLink="/" title="Homepage" i18n-title="@@pageHomepage">
      <app-icon-logo></app-icon-logo>
    </a>
    <div class="nav-wrapper">
      <nav class="nav">
        <a class="not" routerLink="/blog" routerLinkActive="selected">
          <span class="label" i18n="@@pageNewsAndEvents">News &amp; Events</span>
        </a>
        <a class="not" routerLink="/network" routerLinkActive="selected">
          <span class="label" i18n="@@pageNetwork">Network</span>
        </a>
        <a class="not" routerLink="/peering" routerLinkActive="selected">
          <span class="label" i18n="@@pagePeering">Peering</span>
        </a>
        <a class="not" routerLink="/community" routerLinkActive="selected">
          <span class="label" i18n="@@pageCommunity">Community</span>
        </a>
        <a class="not" routerLink="/association" routerLinkActive="selected">
          <span class="label" i18n="@@pageAssociation">Association</span>
        </a>
        <a class="not" routerLink="/team" routerLinkActive="selected">
          <span class="label" i18n="@@pageTeam">Team</span>
        </a>
        <a class="not" routerLink="/contact" routerLinkActive="selected">
          <span class="label" i18n="@@pageContact">Contact</span>
        </a>
      </nav>
      <nav class="nav">
        <a class="not" routerLink="/stats" routerLinkActive="selected">
          <span class="label" i18n="@@pageStatistics">Statistics</span>
        </a>
        <a class="not" href="https://lg.dd-ix.net" target="_blank">
          <span class="label" i18n="@@pageLookingGlass">Looking Glass</span>
        </a>
        <a class="not" href="https://portal.dd-ix.net" target="_blank">
          <span class="label" i18n="@@pageIxpManager">IXP Manager</span>
        </a>
        <a class="not" href="https://lists.dd-ix.net" target="_blank">
          <span class="label" i18n="@@pageMailaingLists">Mailing Lists</span>
        </a>
      </nav>
    </div>
  </div>

  <div class="aside-footer">
    @if (path | async; as path) {
      <span class="lang typography">
        <a [href]="'/de' + path" lang="de" hreflang="de">DE</a>
        |
        <a [href]="'/en' + path" lang="en" hreflang="en">EN</a>
      </span>
    }

    <nav class="typography">
      <a i18n routerLink="/privacy-policy" i18n="@@pagePrivacyPolicy">Privacy Policy</a>
      <a i18n routerLink="/imprint" i18n="@@pageImprint">Imprint</a>
    </nav>
  </div>
</aside>

<main>
  <div class="container">
    <button (click)="toggleAside()" class="menu-btn">
      <app-icon-menu></app-icon-menu>
    </button>

    <div>
      <router-outlet></router-outlet>
    </div>

    <footer>
      <span style="text-align: center">
        &copy;&nbsp;{{ currentYear() }} <b i18n="@@footerAssociationName">DD-IX Dresden Internet Exchange e.V.</b>
        <span class="slogan">
          | <span i18n="@@footerSlogan">Keep Local Traffic Local</span>
        </span>
      </span>
    <nav class="typography">
      <a i18n routerLink="/privacy-policy" i18n="@@pagePrivacyPolicy">Privacy Policy</a>
      <a i18n routerLink="/imprint" i18n="@@pageImprint">Imprint</a>
    </nav>
  </footer>
</div>

@if (disableNav | async) {
  <div class="bottom-bar"></div>
}
</main>
