@import "vars";

:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .block {
    display: flex;
    align-items: center;

    .icon {
      $padding: 5rem;
      min-height: 5rem;
      max-height: 5rem;
      min-width: #{5rem + 2 * $padding};
      padding: 0 $padding;
      --color-text: #{$primary};
    }
  }

  > {
    h1, h2 {
      margin: 0;
    }
  }

  ul.pages, ul.services {
    display: grid;
    gap: 1rem;
  }

  ul.pages {
    grid-template-columns: 1fr 1fr 1fr;
  }

  ul.services {
    grid-template-columns: 1fr 1fr;
  }
}
