:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > {
    h1, h2 {
      margin: 0;
    }
  }

  ul.pages, ul.services {
    display: grid;
    gap: 1rem;
  }

  ul.pages {
    grid-template-columns: 1fr 1fr 1fr;
  }

  ul.services {
    grid-template-columns: 1fr 1fr;
  }
}
