<div class="typography">
  <h1 i18n>Peering</h1>
</div>

<div class="blocks">

  <div class="cc-block">
    <app-card>
      <div class="typography">
        <h2 i18n id="pricing_10g">Pricing</h2>
        <ul>
          <li i18n>We offer <b>10G</b> ports for <b>150€</b> a month.</li>
        </ul>
        <feel-button class="section-button" flavor="accent" i18n-label label="Peer Now!" link="mailto:peering@dd-ix.net">
          <app-icon-send/>
        </feel-button>
      </div>
    </app-card>
    <app-card>
      <div class="typography">
        <h2 i18n id="pricing_10g_support">Prices for Supporting Members</h2>
        <ul>
          <li i18n>If you support us with more than <b>200€</b> a month, we reduce the <b>10G</b> Peering-Port price to <b>100€</b> per month.</li>
        </ul>
        <feel-button class="section-button" flavor="accent" i18n-label label="Become Supporting Member!" link="https://content.dd-ix.net/documents/download/DD-IX%20Foerdermitgliedsantrag.pdf">
          <app-icon-send/>
        </feel-button>
      </div>
    </app-card>
    <app-card class="map">
      <a class="imglink" href="https://www.openstreetmap.org/way/10368038" target="_blank">
        <app-icon-pop-map class="pop-map"/>
      </a>
    </app-card>
  </div>
  <div class="cc2-block">
    <app-card>
      <div class="typography">
        <h2 i18n>Point of Presence</h2>
        <p i18n>We are present at the following locations:</p>
        <div class="locations-list">
          <div>
            <h4 i18n>CityCenter</h4>
            <p i18n>
              SachsenGigaBit GmbH<br/>
              Friedrich-List-Platz 2<br/>
              01069 Dresden
            </p>
          </div>
          <div>
            <h4 i18n>Coschütz 2</h4>
            <p i18n>
              IBH IT-Service GmbH<br/>
              Heilbronner Str. 20<br/>
              01189 Dresden
            </p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="block">
    <app-icon-switch class="icon"/>
    <app-card>
      <div class="typography">
        <h2 i18n>What is peering?</h2>
        <p i18n>
          Peering is a term from network technology. It enables ISPs (Internet Service Providers) or network operators
          to easily exchange data with each other. This data transfer between peering partners is free of charge and
          offers numerous advantages.
        </p>
      </div>
    </app-card>
  </div>

  <div class="block">
    <app-icon-antenna class="icon"/>
    <app-card>
      <div class="typography">
        <h2 i18n>Why should I peer?</h2>
        <p i18n>
          The aim of peering is to route traffic between the participating networks more efficiently and to avoid
          bottlenecks. Through peering connections provided by DD-IX, we enable all participants to route network
          packets among each other shorter and faster.
        </p>
        <p i18n>
          Optimal network packet forwarding is an important aspect of building a robust and efficient Internet. Peering
          with an IXP allows access to contents and services provided by other network operators or ISPs without the need
          to establish many direct peerings among each other.
        </p>
      </div>
    </app-card>
  </div>

  <div class="block">
    <app-icon-directions class="icon"/>
    <app-card>
      <div class="typography">
        <p i18n>
          An IXP also enables better resilience, as traffic can be transmitted even if a link to a particular network
          fails, as long as there are routes through alternative peering partners.
        </p>
        <p i18n>
          Peering through an IXP like the DD-IX reduces the need for expensive Internet transit services. Because only
          the connection are paid for and not the data volume used.
        </p>
      </div>
    </app-card>
  </div>
</div>

<!--<ul class="not pages">-->
<!--  <li>-->
<app-card [lightShadow]="true" backgroundImage="/assets/images/peering-policy.webp" link="policy">
  <h1 i18n>Peering Policy</h1>
</app-card>
<!--  </li>-->
<!--  <li>-->
<!--    <app-card link="peers">-->
<!--      <h1 i18n>Peers</h1>-->
<!--    </app-card>-->
<!--  </li>-->
<!--  <li>-->
<!--    <app-card link="locations">-->
<!--      <h1 i18n>Locations</h1>-->
<!--    </app-card>-->
<!--  </li>-->
<!--</ul>-->

<!--<h2 i18n>Services</h2>-->

<!--<ul class="not services">-->
<!--  <li>-->
<!--    <app-card link="services/pni">-->
<!--      <h1 i18n>Private Network Interconnect</h1>-->
<!--    </app-card>-->
<!--  </li>-->
<!--  <li>-->
<!--    <app-card link="services/peering">-->
<!--      <h1 i18n>Peering Port</h1>-->
<!--    </app-card>-->
<!--  </li>-->
<!--</ul>-->
