@import "vars";

:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .block {
    display: flex;

    .icon {
      height: auto;
      width: 30rem;
      padding: 0 5rem;
      --color-text: #{$primary};
    }
  }

  > {
    h1, h2 {
      margin: 0;
    }
  }

  ul.pages, ul.services {
    display: grid;
    gap: 1rem;
  }

  ul.pages {
    grid-template-columns: 1fr 1fr 1fr;
  }

  ul.services {
    grid-template-columns: 1fr 1fr;
  }
}
