<div class="typography">
  <h1 i18n>Peering</h1>
</div>
<div class="block">
  <app-card>
    <div class="typography">
      <h2 i18n>What is peering?</h2>
      <p i18n>
        Peering is a term from network technology. It provides for an association of ISPs (Internet Service Providers)
        or
        networks to enable data exchange between them. This data transfer between peering partners is free of charge and
        offers numerous advantages.
      </p>
    </div>
  </app-card>
  <app-icon-switch class="icon"/>
</div>

<div class="block">
  <app-icon-antenna class="icon"/>
  <app-card>
    <div class="typography">
      <h2 i18n>Why should I peer?</h2>
      <p i18n>
        The goal of peering is to route traffic between participating networks more efficiently and avoid bottlenecks.
        Through direct peering connections provided by DD-IX, data packets can take shorter and faster routes. This
        results in improved network performance, which can lead to a reduction in latency.

        This is an important aspect of building robust and efficient Internet, as it forms the basis for exchanging
        traffic between different regions and countries. Peering allows access to content and services hosted by other
        networks or ISPs without having to route all traffic over the public Internet.
      </p>
    </div>
  </app-card>
</div>

<div class="block">
  <app-card>
    <div class="typography">
      <h2 i18n>Your benefits of peering using DD-IX as an Internet Exchange Point:</h2>
      <p i18n>
        The improved performance already mentioned, as data is exchanged directly between peering partners. This reduces
        latency, and transmission speeds can be improved.
      </p>
    </div>
  </app-card>
  <app-icon-rating class="icon"/>
</div>

<div class="block">
  <app-icon-directions class="icon"/>
  <app-card>
    <div class="typography">
      <p i18n>
        It also allows for better redundancy, as traffic can flow even if a connection to a particular network is down,
        as
        long as there are alternative peering partners. This guarantees a certain degree of fail-safety.
      </p>
    </div>
  </app-card>
</div>

<div class="block">
  <app-card>
    <div class="typography">
      <p i18n>
        Peering through an IXP (Internet Exchange Point) such as the DD-IX reduces the need for expensive Internet
        transit
        services because traffic can be routed directly through the IXP.
      </p>
      <p i18n>
        In addition, peering increases network reach and allows access to content and services hosted by other networks
        and ISPs.
      </p>
    </div>
  </app-card>
  <app-icon-money class="icon"/>
</div>

<ul class="not pages">
  <li>
    <app-card link="policy">
      <h1 i18n>Peering Policy</h1>
    </app-card>
  </li>
  <!--  <li>-->
  <!--    <app-card link="peers">-->
  <!--      <h1 i18n>Peers</h1>-->
  <!--    </app-card>-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <app-card link="locations">-->
  <!--      <h1 i18n>Locations</h1>-->
  <!--    </app-card>-->
  <!--  </li>-->
</ul>

<!--<h2 i18n>Services</h2>-->

<!--<ul class="not services">-->
<!--  <li>-->
<!--    <app-card link="services/pni">-->
<!--      <h1 i18n>Private Network Interconnect</h1>-->
<!--    </app-card>-->
<!--  </li>-->
<!--  <li>-->
<!--    <app-card link="services/peering">-->
<!--      <h1 i18n>Peering Port</h1>-->
<!--    </app-card>-->
<!--  </li>-->
<!--</ul>-->

