:root {
  color-scheme: light dark;
  --primary: #5a32fe;
  --text: #000;
  --background: #eeeeee;
  --card: #f6f6f6;
  --card-border: #d2d2d2;
  --tud-color: #00305E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #5a32fe;
    --text: #f6f6f6;
    --background: #000;
    --card: #181818;
    --card-border: #212121;
    --tud-color: var(--text);
  }
}

$primary: var(--primary);
$d: #00d5ae;
$text-color: var(--text);
$background: var(--background);
$card: var(--card);
$card-border: var(--card-border);

a:not(.not) {
  border-bottom: $primary solid 0.2rem;
  text-decoration: none;
  color: $text-color;
  transition: background-color ease-in-out 150ms;

  &:hover {
    background-color: $primary;
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    border: none !important;
    background-color: transparent !important;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: $background;
  color: $text-color;
  padding: 1rem 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

article {
  background-color: $card;
  border: $card-border solid 0.1rem;
  border-radius: 0.4rem;
  padding: 1rem;
  overflow: hidden;
}

.mobile-only {
  @media (min-width: 851px) {
    display: none;
  }
}
