<div class="typography">
  <h1 i18n>Team</h1>
</div>

<ul class="not">
  <li *ngFor="let member of team | async">
    <app-card>
      <div class="member">
        <img [ngSrc]="buildMemberImage(member.image)" width="1" height="1"
             [alt]="member.nick ?? member.name + '\'s Image'">
        <p>
          <b>{{member.nick ?? member.name}}</b>
          <ng-container *ngIf="member.nick">
            <br>
            {{member.name}}
          </ng-container>
          <br>
          {{member.description}}
        </p>
        <div class="socials">
          <a *ngIf="member.socials.email" [href]="'mailto:' + member.socials.email" target="_blank">
            <span class="icon"><app-icon-mail/></span>
            <span class="handle">{{member.socials.email}}</span>
          </a>
          <a *ngIf="member.socials.github" [href]="'https://github.com/'+member.socials.github" target="_blank">
            <span class="icon"><app-icon-github/></span>
            <span class="handle">{{member.socials.github}}</span>
          </a>
          <a *ngIf="member.socials.website" [href]="member.socials.website" target="_blank">
            <span class="icon"><app-icon-globe/></span>
            <span class="handle">{{member.socials.website}}</span>
          </a>
          <a *ngIf="member.socials.mastodon" [href]="buildMastodonLink(member.socials.mastodon)">
            <span class="icon"><app-icon-mastodon/></span>
            <span class="handle">{{member.socials.mastodon}}</span>
          </a>
        </div>
      </div>
    </app-card>
  </li>
</ul>
