<app-card backgroundImage="/assets/images/dresden.webp" [lightShadow]="true">
  <div class="hero">
    <h1 i18n class="dd-ix">Dresden Internet Exchange</h1>
    <h3 i18n class="slogan">Keep Local Traffic Local</h3>
  </div>
</app-card>

<!--<img ngSrc="/assets/images/dresden.webp" alt="Dresden's Skyline" height="3191" width="5672" class="hero-image">-->
<div class="blocks">
  <div class="block">
    <app-icon-frauenkirche class="icon"/>
    <app-card>
      <div class="typography">
        <h1 i18n>Internet Exchange</h1>
        <p i18n>
          The DD-IX is an Internet exchange for Dresden and whole Saxony. As a non-commercial platform, we are open to
          all Internet stakeholders that are interested in multilateral exchange of Internet traffic. Only 20 km from
          the geographic center of Saxony, the DD-IX locations in Dresden offer the perfect fundament to peer with
          participants in the Saxony region over short distances.
        </p>
      </div>
      <feel-button link="/peering" class="section-button" flavor="accent" label="More Information" i18n-label>
        <app-icon-send/>
      </feel-button>
    </app-card>
  </div>

  <div class="block">
    <app-icon-internet class="icon"/>
    <app-card>
      <div class="typography">
        <h1 i18n>Association</h1>
        <p i18n>
          The DD-IX is operated by committed people of the DD-IX Dresden Internet Exchange e.V. i.G. The DD-IX Dresden Internet Exchange e.V. i.G. will be a registered
          association under German law. Our mission is the economical, ecological, and robust exchange of data over the
          Internet. To enable direct data delivery between source and destination, we leverage the unique advantages of
          an Internet Exchage Point (IXP).
        </p>
      </div>
      <feel-button link="/association" class="section-button" flavor="accent" label="More Information" i18n-label>
        <app-icon-send/>
      </feel-button>
    </app-card>
  </div>

  <div class="block">
    <app-icon-social class="icon"/>
    <app-card>
      <div class="typography">
        <h1 i18n>Support</h1>
        <p i18n>
          Join us for an exciting journey. As peer, sponsor, or member of the association you will be part of the
          development of the DD-IX - the catalyst for the digital future in Saxony!
        </p>
      </div>
      <feel-button link="/association" class="section-button" flavor="accent" label="Join Us!" i18n-label>
        <app-icon-send/>
      </feel-button>
    </app-card>
  </div>
</div>

<div class="typography">
  <h1 i18n>News</h1>
</div>
<ul class="not news">
  <li *ngFor="let post of posts | async">
    <app-news-card [post]="post"/>
  </li>
</ul>

<div class="typography">
  <h1 i18n>Socials</h1>
</div>

<ul class="not socials">
  <li>
    <app-card link="https://github.com/dd-ix">
      <app-icon-github class="icon" style="height: 3.275rem; aspect-ratio: 1/1"></app-icon-github>
      <h2>GitHub</h2>
      <p><b>@dd-ix</b></p>
    </app-card>
  </li>
  <li>
    <app-card link="https://dresden.network/@dd_ix">
      <app-icon-mastodon class="icon" style="height: 3.275rem; aspect-ratio: 1/1"></app-icon-mastodon>
      <h2>Mastodon</h2>
      <p><b>@dd_ix</b></p>
    </app-card>
  </li>
</ul>

<div class="typography">
  <h1 i18n>Sponsors</h1>
</div>

<ul class="not sponsors">
  <li>
    <app-card [inverseShadow]="true" link="https://www.ibh.de" backgroundImage="/assets/images/sponsors/ibh-bg.webp">
      <app-icon-ibh class="sponsor-icon"></app-icon-ibh>
    </app-card>
  </li>
  <li>
    <app-card [inverseShadow]="true" link="https://www.bcix.de/"
              backgroundImage="/assets/images/sponsors/bcix-bg.webp">
      <app-icon-bcix class="sponsor-icon"></app-icon-bcix>
    </app-card>
  </li>
  <li>
    <app-card [inverseShadow]="true" link="https://tu-dresden.de/ing/informatik/sya/netd/?set_language=en"
              backgroundImage="/assets/images/sponsors/netd-bg.webp">
      <div class="sponsor-icon netd">
        <img src="assets/images/netd.webp" alt="NETD-TUD Logo">
        <app-icon-tud class="tud"></app-icon-tud>
      </div>
    </app-card>
  </li>
</ul>
