@import "vars";

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > h1 {
    margin: 0;
  }

  .news, .socials, .sponsors {
    display: grid;
    gap: 1rem;
  }

  .news, .sponsors {
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: 1250px) {
      grid-template-columns: 1fr;
    }
  }

  .socials {
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 750px) {
      grid-template-columns: 1fr;
    }
  }
}

.sponsors {
  .sponsor-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;

    &.netd {
      display: flex;
      gap: 1rem;

      img {
        max-height: 100%;
      }

      .tud {
        flex-grow: 1;
        max-height: 100%;
      }
    }
  }
}
