@import "vars";

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > h1 {
    margin: 0;
  }

  .news, .socials, .sponsors {
    display: grid;
    gap: 1rem;
  }

  .news {
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: 1250px) {
      grid-template-columns: 1fr;
    }

    section {
      background-position: center;
      background-size: cover;
      padding: 0;

      .background {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
      }
    }
  }

  .socials {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media screen and (max-width: 1330px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 750px) {
      grid-template-columns: 1fr;
    }

    section {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      column-gap: 1rem;

      .icon {
        aspect-ratio: 1/1;
        height: 3rem;

        grid-row-start: 1;
        grid-row-end: 3;
      }

      h1 {
        margin: 0;
      }
    }
  }
}

.sponsors {
  grid-template-columns: 1fr 1fr 1fr;

  section {
    background-color: $ternary-dark;

    img {
      max-height: 6rem;
      margin: 0;
    }

    &.netd {
      display: grid;
      grid-template-columns:auto 1fr;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }

  //section {
  //  display: grid;
  //  align-items: center;
  //  grid-template-columns: auto 1fr;
  //  grid-template-rows: auto 1fr;
  //  column-gap: 1rem;
  //
  //  .icon {
  //    aspect-ratio: 1/1;
  //    height: 3rem;
  //
  //    grid-row-start: 1;
  //    grid-row-end: 3;
  //  }
  //
  //  h1 {
  //    margin: 0;
  //  }
  //}
}
