<h1 i18n>Dresden Internet Exchange</h1>

<app-card>
  <app-text-block slug="landingpage"/>
</app-card>

<h1 i18n>News</h1>

<ul class="not news">
  <li *ngFor="let post of posts | async">
    <app-news-card [post]="post"/>
  </li>
</ul>

<h1 i18n>Socials</h1>

<ul class="not socials">
  <li>
    <app-card link="https://github.com/dd-ix">
      <app-icon-github class="icon" style="height: 3.5rem; aspect-ratio: 1/1"></app-icon-github>
      <h1>GitHub</h1>
      <p><b>@dd-ix</b></p>
    </app-card>
  </li>
  <li>
    <app-card link="https://dresden.network/@dd-ix">
      <app-icon-mastodon class="icon" style="height: 3.5rem; aspect-ratio: 1/1"></app-icon-mastodon>
      <h1>Mastodon</h1>
      <p><b>@dd-ix@dresden.network</b></p>
    </app-card>
  </li>
</ul>

<h1 i18n>Sponsors</h1>

<ul class="not sponsors">
  <li>
    <app-card [inverseShadow]="true" link="https://www.ibh.de" backgroundImage="/assets/images/sponsors/ibh-bg.webp">
      <app-icon-ibh class="sponsor-icon"></app-icon-ibh>
    </app-card>
  </li>
  <li>
    <app-card [inverseShadow]="true" link="https://www.bcix.de/" backgroundImage="/assets/images/sponsors/bcix-bg.webp">
      <app-icon-bcix class="sponsor-icon"></app-icon-bcix>
    </app-card>
  </li>
  <li>
    <app-card [inverseShadow]="true" link="https://tu-dresden.de/ing/informatik/sya/netd/?set_language=en"
              backgroundImage="/assets/images/sponsors/netd-bg.webp">
      <div class="sponsor-icon netd">
        <img src="assets/images/netd.png" alt="NETD-TUD Logo">
        <app-icon-tud class="tud"></app-icon-tud>
      </div>
    </app-card>
  </li>
</ul>
