<div class="typography">
  <h1 i18n>Joining DD-IX</h1>
</div>

<div class="blocks">
  <div class="cc-block">
    <app-card>
      <div class="typography">
        <h2 i18n id="pricing_10g">Pricing</h2>
        <ul>
          <li i18n>We offer <b>10G</b> ports for <b>150€</b> a month.</li>
        </ul>
        <feel-button class="section-button" flavor="accent" i18n-label label="Peer Now!"
                     link="mailto:peering@dd-ix.net">
          <app-icon-send/>
        </feel-button>
      </div>
    </app-card>
    <app-card>
      <div class="typography">
        <h2 i18n id="pricing_10g_support">Prices for Supporting Members</h2>
        <ul>
          <li i18n>If you support us with more than <b>200€</b> a month, we reduce the <b>10G</b> Peering-Port price to
            <b>100€</b> per month.
          </li>
        </ul>
        <feel-button class="section-button" flavor="accent" i18n-label label="Become a Supporting Member!"
                     link="https://content.dd-ix.net/documents/download/DD-IX%20Foerdermitgliedsantrag.pdf">
          <app-icon-send/>
        </feel-button>
      </div>
    </app-card>
    <app-card class="map">
      <app-icon-pops-map class="pop-map"/>
    </app-card>
  </div>

  <div class="cc2-block">
    <app-card>
      <div class="typography">
        <h2 i18n>Point of Presence</h2>
        <p i18n>We are present at the following locations:</p>
        <div class="locations-list">
          <div>
            <h4 i18n>CityCenter</h4>
            <p i18n>
              SachsenGigaBit GmbH<br/>
              Friedrich-List-Platz 2<br/>
              01069 Dresden
            </p>
          </div>
          <div>
            <h4 i18n>Coschütz 2</h4>
            <p i18n>
              IBH IT-Service GmbH<br/>
              Heilbronner Str. 20<br/>
              01189 Dresden
            </p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>

<app-card [lightShadow]="true" backgroundImage="/assets/images/peering-policy.webp" link="policy">
  <h1 i18n>Peering Policy</h1>
</app-card>
