@import "bp";
//* {
//  box-sizing: border-box;
//  margin: 0;
//  padding: 0;
//}
//
//@import 'scss/constants';
//@import 'scss/font';
//@import 'src/scss/base';

html {
  font-size: 20px;
}

@media screen and (max-width: $bp-mobile) {
  * {
    hyphens: auto;
  }
}

//body {
//  background-color: $background;
//  margin: 0;
//}
//
//::selection {
//  background-color: $c-primary-l;
//  color: $secondary;
//}

@import "theme";
@import "vars";

@include theme(
  $c-primary: #209680,
  $c-primary-l: #cf0,
  $c-accent: #ad0,
  $c-accent-l: #cf0,
  $c-accent-d: #6a0,
  $c-primary-d: #16705f,
  $c-gray: #696969,
  $s-padding: calc(1.5 * $s-unit),
  $c-secondary: #060f11,
  $c-secondary-l: #0e1618,
  $c-secondary-ll: #1a2225,
);

feel-button[flavor=accent] {
  --f-color-inverted: #{$c-secondary};
}

.typography {
  h1, h2, h3, h4, h5, h6 {
    color: $c-primary;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //max-width: min(45rem, 100%);
    //max-height: 50vh;
    width: 100%;
    border-radius: 0.4rem;
  }

  a {
    border-color: $c-accent;

    &:hover {
      background-color: $c-accent;
    }
  }
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

@import "scss/apex";
