//* {
//  box-sizing: border-box;
//  margin: 0;
//  padding: 0;
//}
//
//@import 'scss/constants';
//@import 'scss/font';
//@import 'src/scss/base';

html {
  font-size: 20px;
}

//body {
//  background-color: $background;
//  margin: 0;
//}
//
//::selection {
//  background-color: $c-primary-l;
//  color: $secondary;
//}

@import "theme";
@include theme(
  $c-primary: #209680,
  $c-primary-l: #cf0,
);

@import "vars";

.typography {
  h1, h2, h3, h4, h5, h6 {
    color: $c-primary;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: min(45rem, 100%);
    max-height: 50vh;
    border-radius: 0.4rem;
  }
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
