:root {
  color-scheme: light dark;

  --color-primary: #209680;
  --color-primary-light: #cf0;

  //--color-primary: #fbcb04;
  //--color-primary-dark: #bb9700;

  --color-secondary: #0B1214; //#060f11;
  --color-secondary-light: #0B1214; //#0c0c0c;
  --color-secondary-lighter: #0B1214; //#171717;
  --color-secondary-dark: #0B1214; //#0c1016;

  --color-ternary: #e8e8e8;
  --color-ternary-light: #fff;
  --color-ternary-lighter: #fff;
  --color-ternary-dark: #f0f0f0;

  --gray: #bebebe;

  --color-good: #2f9617;
  --color-good-dark: #277e14;

  --color-danger: #b0151f;
  --color-danger-dark: #770a1f;

  --font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-size: 1rem; //1.025rem;
  --font-size-small: 0.8rem;
  --font-weight: 400;
  --font-weight-bold: 700;

  --page-width: 1200px;

  // theme specific colors
  --color-background: var(--color-ternary);
  --color-background-light: var(--color-ternary-light);
  --color-background-lighter: var(--color-ternary-lighter);
  --color-background-dark: var(--color-ternary-dark);
  --f-color: var(--color-secondary);
  --color-text-dark: var(--color-secondary-dark);
  --color-text-inverted: var(--color-ternary);
  --color-text-inverted-dark: var(--color-ternary-dark);
  --color-background-aside: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray: #4d4d4d;
    --color-background: var(--color-secondary);
    --color-background-light: var(--color-secondary-light);
    --color-background-lighter: var(--color-secondary-lighter);
    --color-background-dark: var(--color-secondary-dark);
    --f-color: var(--color-ternary);
    --color-text-dark: var(--color-ternary-dark);
    --color-text-inverted: var(--color-ternary);
    --color-text-inverted-dark: var(--color-ternary-dark);
    --color-background-aside: rgba(0, 0, 0, 0.1);
  }
}
