@import "vars", "bp";

.form {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * $s-padding);
}

.block {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  @media screen and (max-width: #{$bp-mobile - 1}) {
    flex-direction: column;
    gap: 1rem;
  }

  .icon {
    $padding: 5rem;
    min-height: 5rem;
    max-height: 5rem;
    min-width: #{5rem + 2 * $padding};
    padding: 0 $padding;
    --f-color: #{$c-primary};
  }

  .contai {
    width: 100%;
  }
}
