@import "vars", "bp";

.form {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * $s-padding);

  .button {
    align-self: center;
  }

  .error {
    color: $c-danger;
  }

  .success {
    color: $c-good;
  }
}
