@import "vars";
@import "bp";

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .locations {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: $bp-mobile) {
      grid-template-columns: 1fr;
    }
  }
}
